html,
body {
    height: 100%;
    padding: 0px;
    color: red;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background: black;
}

#form-card {
    margin: 0px;
}

.material-icon {
    font-size: 48px !important;
}