html,
body {
    height: 100%;
    padding: 0px;
    color: red;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background: #0E6655;
}

#form-card {
    margin: 0px;
}

.material-icon {
    font-size: 48px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}